/* Banner Start */
.portfolio-banner{
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.portfolio-banner img{
    width: 100%;
}
.portfolio-banner .banner-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
}
.portfolio-banner .banner-content h1{
    color: #fff;
    font-size: calc(5rem + 0.5vw);
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .portfolio-banner .banner-content h1{
        font-size: calc(4.5rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .portfolio-banner .banner-content h1{
        font-size: calc(4rem + 0.5vw);
    }
}

@media screen and (max-width: 768px) {
    .portfolio-banner{
        height: auto;
    }
    .portfolio-banner .banner-content h1{
        font-size: calc(2.5rem + 0.5vw);
        margin-top: 2rem;
    }
}
/* Banner End */

/* Portfolio Start */
.portfolio{
    padding: 5rem 5% 4rem 5%;
    background: linear-gradient(to bottom right, #68462f, #382112);
}
.portfolio .portfolio-images-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.portfolio .portfolio-images-row .portfolio-image-box{
    width: 31.5%;
    padding: 1.7rem;
    background: rgba(0, 0, 0, 0.155);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); /* safari support */
    border-radius: 30px;
    box-shadow: #d48c5c 5px 5px 20px 0px inset, #face75 -5px -5px 20px 1px inset;
    margin-bottom: 2.2rem;
}
.portfolio .portfolio-images-row .portfolio-image-box img{
    width: 100%;
    border-radius: 18px;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .portfolio{
        padding: 4.5rem 5% 3.5rem 5%;
    }
    .portfolio .portfolio-images-row .portfolio-image-box{
        padding: 1.6rem;
        border-radius: 27px;
        margin-bottom: 2.15rem;
    }
    .portfolio .portfolio-images-row .portfolio-image-box img{
        border-radius: 16px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .portfolio{
        padding: 4rem 5% 3rem 5%;
    }
    .portfolio .portfolio-images-row .portfolio-image-box{
        padding: 1.4rem;
        border-radius: 25px;
        margin-bottom: 1.95rem;
    }
    .portfolio .portfolio-images-row .portfolio-image-box img{
        border-radius: 14px;
    }
}

@media screen and (max-width: 768px) {
    .portfolio{
        padding: 2rem 1rem 1.5rem 1rem;
    }
    .portfolio .portfolio-images-row .portfolio-image-box{
        width: 48.2%;
        padding: 0.7rem;
        border-radius: 15px;
        box-shadow: #d48c5c 4px 4px 10px 0px inset, #face75 -4px -4px 10px 1px inset;
        margin-bottom: 0.9rem;
    }
    .portfolio .portfolio-images-row .portfolio-image-box img{
        border-radius: 10px;
    }
}
/* Portfolio End */