/* Banner Start */
.services-banner{
    background-image: url(../images/services-banner.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 5%;
}
.services-banner-content{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.services-banner-content h1{
    color: #fff;
    font-size: calc(4.5rem + 0.5vw);
}
.services-banner-content p{
    color: #fff;
    font-size: calc(0.6rem + 0.5vw);
    font-family: Montserrat-Regular, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.services-banner-cards{
    padding: 0 0 15rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.services-banner-cards .serv-card{
    width: 23%;
    padding: 1.7rem;
    background: rgba(0, 0, 0, 0.155);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); /* safari support */
    border-radius: 40px;
    box-shadow: #d48c5c 5px 5px 20px 0px inset, #face75 -5px -5px 20px 1px inset;
    color: #fff;
    text-align: center;
    position: relative;
}
.services-banner-cards .serv-card img{
    width: 100%;
    border-radius: 10px;
    scale: 1.02;
}
.services-banner-cards .serv-card h2{
    margin-top: 2rem;
    font-size: calc(1.2rem + 0.5vw);
}
.services-banner-cards .serv-card span{
    display: block;
    margin-top: 1rem;
    font-size: calc(0.3rem + 0.5vw);
    line-height: normal;
    font-family: Montserrat-Regular, sans-serif;
}
.services-banner-cards .serv-card p{
    margin-top: 1rem;
    font-size: calc(0.26rem + 0.5vw);
    font-family: Montserrat-Regular, sans-serif;
    font-weight: 300;
    font-style: italic;
}
.services-banner-cards .serv-card .btn-row{
    width: 100%;
    position: absolute;
    bottom: -1.3rem;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.services-banner-cards .serv-card .btn-row button{
    background-color: #573823;
    border: none;
    padding: 0.8rem 1rem;
    color: #fff;
    font-size: calc(0.23rem + 0.5vw);
    font-family: Montserrat-Regular, sans-serif;
    border-radius: 15px;
    box-shadow: #dcdcdcc4 1px 1px 2px 0px inset, #2b2b2bce -1.5px -1.5px 2px 0px inset;
    transition: all 0.3s ease;
}
.services-banner-cards .serv-card .btn-row button:hover{
    background-color: #69442b;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .services-banner-content h1{
        font-size: calc(4rem + 0.5vw);
    }
    .services-banner-content p{
        font-size: calc(0.55rem + 0.5vw);
    }

    .services-banner-cards{
        padding: 0 0 13rem 0;
    }
    .services-banner-cards .serv-card{
        padding: 1.6rem;
        box-shadow: #d48c5c 4.5px 4.5px 20px 0px inset, #face75 -4.5px -4.5px 20px 1px inset;
    }
    .services-banner-cards .serv-card h2{
        margin-top: 1.8rem;
        font-size: calc(1.1rem + 0.5vw);
    }
    .services-banner-cards .serv-card span{
        margin-top: 0.8rem;
        font-size: calc(0.27rem + 0.5vw);
    }
    .services-banner-cards .serv-card p{
        margin-top: 0.8rem;
        font-size: calc(0.24rem + 0.5vw);
    }
    .services-banner-cards .serv-card .btn-row button{
        padding: 0.8rem 1rem;
        font-size: calc(0.22rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .services-banner-content h1{
        font-size: calc(3.5rem + 0.5vw);
    }
    .services-banner-content p{
        font-size: calc(0.5rem + 0.5vw);
    }

    .services-banner-cards{
        padding: 0 0 11rem 0;
    }
    .services-banner-cards .serv-card{
        padding: 1.3rem;
        box-shadow: #d48c5c 4px 4px 17px 0px inset, #face75 -4px -4px 17px 1px inset;
        border-radius: 35px;
    }
    .services-banner-cards .serv-card h2{
        margin-top: 1.5rem;
        font-size: calc(0.95rem + 0.5vw);
    }
    .services-banner-cards .serv-card span{
        margin-top: 0.6rem;
        font-size: calc(0.23rem + 0.5vw);
    }
    .services-banner-cards .serv-card p{
        margin-top: 0.6rem;
        font-size: calc(0.2rem + 0.5vw);
    }
    .services-banner-cards .serv-card .btn-row button{
        padding: 0.65rem 0.8rem;
        font-size: calc(0.21rem + 0.5vw);
    }
}

@media screen and (max-width: 768px) {
    .services-banner{
        background-image: url(../images/services-banner.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 0 1rem;
    }
    .services-banner-content{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .services-banner-content h1{
        color: #fff;
        font-size: calc(4.5rem + 0.5vw);
    }
    .services-banner-content p{
        color: #fff;
        font-size: calc(0.6rem + 0.5vw);
        font-family: Montserrat-Regular, sans-serif;
        font-weight: 300;
        letter-spacing: 1px;
    }

    .services-banner-cards{
        padding: 0 0 15rem 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .services-banner-cards .serv-card{
        width: 23%;
        padding: 1.7rem;
        background: rgba(0, 0, 0, 0.155);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px); /* safari support */
        border-radius: 40px;
        box-shadow: #d48c5c 5px 5px 20px 0px inset, #face75 -5px -5px 20px 1px inset;
        color: #fff;
        text-align: center;
        position: relative;
    }
    .services-banner-cards .serv-card img{
        width: 100%;
        border-radius: 10px;
        scale: 1.02;
    }
    .services-banner-cards .serv-card h2{
        margin-top: 2rem;
        font-size: calc(1.2rem + 0.5vw);
    }
    .services-banner-cards .serv-card span{
        display: block;
        margin-top: 1rem;
        font-size: calc(0.3rem + 0.5vw);
        line-height: normal;
        font-family: Montserrat-Regular, sans-serif;
    }
    .services-banner-cards .serv-card p{
        margin-top: 1rem;
        font-size: calc(0.26rem + 0.5vw);
        font-family: Montserrat-Regular, sans-serif;
        font-weight: 300;
        font-style: italic;
    }
    .services-banner-cards .serv-card .btn-row{
        width: 100%;
        position: absolute;
        bottom: -1.3rem;
        left: 0;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    .services-banner-cards .serv-card .btn-row button{
        background-color: #573823;
        border: none;
        padding: 0.8rem 1rem;
        color: #fff;
        font-size: calc(0.23rem + 0.5vw);
        font-family: Montserrat-Regular, sans-serif;
        border-radius: 15px;
        box-shadow: #dcdcdcc4 1px 1px 2px 0px inset, #2b2b2bce -1.5px -1.5px 2px 0px inset;
        transition: all 0.3s ease;
    }
}
/* Banner End */